In [ ]:
Basic Fundamental Of Pyton

In [1]:
print("navin's laptop")

navin's laptop

In [2]:
print('navin's laptop')

SyntaxError: invalid syntax (3366358169.py, line 1)

In [3]:
print('navin's "laptop"')

SyntaxError: invalid syntax (503525417.py, line 1)

In [4]:
print('navin\'s "laptop"')

navin's "laptop"

In [6]:
print("c:\Documents")

c:\Documents

In [8]:
_list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (_list)          # Prints complete list
print (_list[0])       # Prints first element of the list
print (_list[1:3])     # Prints elements starting from 2nd till 3rd 
print (_list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (_list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [9]:
_list1 = [ 'abcd', 786 , 2.23]
_list2 = [ 2.23,786,'abcd']
_list1==_list2

False

In [10]:
_list1[2]=25   ### We can update the values of list ie, list are mutable

In [12]:
_list1

['abcd', 786, 25]

In [13]:
tuple1 = ('abcd', 786 , 2.23)

In [14]:
tuple1

('abcd', 786, 2.23)

In [15]:
tuple1[2]=25   ### We can update the values of list ie, list are mutable

TypeError: 'tuple' object does not support item assignment

### Lists in Python:

Lists are one of the most powerful data structures in python.


In Python, an empty list is created using list() function.


They are just like the arrays declared in other languages. 

But the most powerful thing is that list need not be always homogeneous.

A single list can contain strings, integers, as well as other objects. 

Lists can also be used for implementing stacks and queues.

Lists are mutable, i.e., they can be altered once declared. 

The elements of list can be accessed using indexing and slicing operations.

In [23]:
# Declaring a list
L = [1, "a" , "string" , 1+2]
print(L)
#Adding an element in the list
L.append(6)    
print(L)
#Deleting last element from a list
L.pop()
print(L)
#Displaying Second element of the list
print(L[1])

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

In [24]:
#Tuples in Python: A tuple is a sequence of immutable Python objects. 
   # Tuples are just like lists with the exception that tuples cannot be changed once declared. 
   # Tuples are usually faster than lists.


tup = (1, "a", "string", 1+2)
print(tup)
print(tup[1])

(1, 'a', 'string', 3)
a

In [25]:
#Iterations in Python: Iterations or looping can be performed in python by ‘for’ and ‘while’ loops.
 #   Apart from iterating upon a particular condition, 
 #   we can also iterate on strings, lists, and tuples.

#Example 1: Iteration by while loop for a condition


i = 1
while (i < 10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [26]:
#Example 2: Iteration by for loop on the string


s = "Hello World"
for i in s:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [28]:
#Example 3: Iteration by for loop on list


list1 = [1, 4, 5, 7, 8, 9]
for i in list1 :
    print(i)

1
4
5
7
8
9

In [29]:
#Example 4: Iteration by for loop for range


for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
#Example 2: Accessing elements from a multi-dimensional list


# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List12 = [['Geeks', 'For'], ['Geeks']]
 
# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List12[0][1])
print(List12[1][0])

Accessing a element from a Multi-Dimensional list
For
Geeks

In [31]:
#Getting the size of Python list
#Python len() is used to get the length of the list.


# Creating a List
List1 = []
print(len(List1))
 
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

In [34]:
#Adding Elements to a Python List
#Method 1: Using append() method
#Elements can be added to the List by using the built-in append() function. Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. Tuples can also be added to the list with the use of the append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of the append() method.


# Python program to demonstrate
# Addition of elements in a List
 
# Creating a List
List = []
print("Initial blank List: ")
print(List)
 
# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)
 
# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)
 
# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)
 
# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

In [36]:
#Method 2: Using insert() method
#append() method only works for the addition of elements at the end of the List, 
#for the addition of elements at the desired position, insert() method is used.
#Unlike append() which takes only one argument, the insert() method requires two arguments
#(position, value). 


# Python program to demonstrate
# Addition of elements in a List
  
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
 
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

### Python has a set of built-in methods that you can use on lists/arrays.

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

In [37]:
# Adds List Element as value of List.
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

insert()
Inserts an element at the specified position. 

Syntax:
    list.insert(<position, element)

In [38]:
List = ['Mathematics', 'chemistry', 1997, 2000]
# Insert at index 2 value 10087
List.insert(2,10087)    
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [39]:
#extend()
#Adds contents to List2 to the end of List1. 
# SYNTAX-----   List1.extend(List2)
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]
 
# Add List2 to List1
List1.extend(List2)
print(List1)
 
# Add List1 to List2 now
List2.extend(List1)
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [42]:
#Deletion of List Elements

#To Delete one or more elements, i.e. remove an element, many built-in functions can be used, 
#such as pop() & remove() and keywords such as del.

#pop()
#The index is not a necessary parameter, if not mentioned takes the last index. 

#Syntax:  list.pop([index])

#Note: Index must be in range of the List, elsewise IndexErrors occurs. 
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop())

List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop(0))

2.5
2.3

In [ ]:
#del() 
#Element to be deleted is mentioned using list name and index. 

#Syntax:   del list.[index]

List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)

In [4]:
#remove()
#Element to be deleted is mentioned using list name and element. 
#Syntax
#list.remove(element)
List = [2.3,3, 4.445, 3,3, 5.33, 1.054, 2.5]
List.remove(3)
print(List)

[2.3, 4.445, 3, 3, 5.33, 1.054, 2.5]

In [9]:
#Removing duplicates
#As dictionaries in python do not contain duplicate keys. We use the dict.fromkeys() function to convert our list into a dictionary with list elements as keys. And then we convert the dictionary back to list. 

#This is a powerful trick to automatically remove all the duplicates. Its syntax is:

My_list=['a', 'b', 'c', 'b', 'a']
Mylist = list(dict.fromkeys(My_list))
Mylist

['a', 'b', 'c']

In [10]:
dict.fromkeys(My_list)

{'a': None, 'b': None, 'c': None}

Modifying list


To modify the values in the list with the help of an external function, we make use of the map() function. 

Map() function returns a map object (iterator) of the results after applying the given function to each element of a given iterable(list, tuple etc.). Below is the syntax:

My_list = list(map(function,iterable))
Example:

In [11]:
# using map() function to modify the text
def squaring(n):
    return n**2
 
# driver code
if __name__ == "__main__":
    my_list = [5, 2, 90, 24, 10, 2, 95, 36]
 
    my_squared_list = list(map(squaring, my_list))
    print(my_squared_list)

[25, 4, 8100, 576, 100, 4, 9025, 1296]

## Python map() function
map() function returns a map object(which is an iterator) of the results after
applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :
map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

Returns :

Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.) 
 
NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [12]:
# Python program to demonstrate working
# of map.
  
# Return double of n
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]


We can also use lambda expressions with map to achieve above result.

In [14]:
# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [15]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [16]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
  
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## Convert list of tuples to list of list

Method #1: Using list comprehension This can easily be achieved using list comprehension. We just iterate through each list converting the tuples to the list.

In [8]:
# Python3 code to demonstrate
# convert list of tuples to list of list
# using list comprehension
 
# initializing list
test_list = [(1, 2), (3, 4), (5, 6)]
 
# printing original list
print("The original list of tuples : " + str(test_list))
 
# using list comprehension
# convert list of tuples to list of list
res = [list(i) for i in test_list]
 
# print result
print("The converted list of list : " + str(res))

The original list of tuples : [(1, 2), (3, 4), (5, 6)]
The converted list of list : [[1, 2], [3, 4], [5, 6]]

Method #2: Using map() + list We can use the combination of map function and list operator to perform this particular task. The map function binds each tuple and converts it into list.

In [9]:
res = list(map(list, test_list))
res

[[1, 2], [3, 4], [5, 6]]

Convert list of string to list of list

Method#4: Using loop + eval() method 

This task can be performed with the help of these functions. Loop is used to iterate over the list and eval is used to parse the expression present in the string.

In [11]:
# Python3 code to demonstrate
# to convert list of string to list of list
# using loop + eval functions
import re
# initializing list
test_list = ['[1, 4, 5]', '[4, 6, 8]']
 
# printing original list
print("The original list is : " + str(test_list))
 
# using loop + eval functions
# to convert list of string to list of list
for i in range(len(test_list)):
    test_list[i] = eval(test_list[i])
 
# printing result
print("The list after conversion is : " + str(test_list))

The original list is : ['[1, 4, 5]', '[4, 6, 8]']
The list after conversion is : [[1, 4, 5], [4, 6, 8]]

Method #5: Using list comprehension

In [18]:
test_list = ['[1, 4, 5]', '[4, 6, 8]']
x=[ eval(i) for i in test_list ]
print(x)

[[1, 4, 5], [4, 6, 8]]

In [22]:
dict1={"z":2,"g":3,"z":2}
dict1

{'z': 2, 'g': 3}

In [2]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']